/************ Utility ****************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: #ffffff;
    --light-blue: #B5DDFF;
    --black: #000000;
    --blue: #0084FD;
    --yellow: #FDC15F;
    --purple: #9792E4;
    --dark-gray: #333333;
}
body {
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
}
.container{
    max-width: 500px;
    margin: 0 auto;
}

/************ Common ****************/

.flex{
    display: flex;
}
.j_between{
    justify-content: space-between;
}
.a_it_center{
    align-items: center;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.btn{
    padding: 0.6rem 3.5rem;
    color: var(--white);
    background-color: var(--purple);
    border-radius: 2.5rem;
}
.padd_bottom_2rem{
    padding-bottom: 2rem;
}
.margin_bottom_6rem{
    margin-bottom: 6rem;
}

/************ Header ****************/
header {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
}
.main_menu{
    display: none;
}

/************ Section Intro ****************/
#intro .card{
    background-color: var(--light-blue);
    border-radius: 3rem;
    padding: 3rem 3rem 0 3rem;
    margin-bottom: 3rem;
}
#intro h2{
    color: var(--blue);
    font-size: 2rem;
    font-weight: 700;
}
#intro .card:not(:first-child){
    text-align: center;
}
#intro p{
    line-height: 2rem;
}
#intro .btn{
    background-color: var(--blue);
    font-size: 1.1rem;
}
#intro .btn i{
    margin-right: 0.7rem;
}
#intro .card .img_box img{
    width: 100%;
}
#intro .card .img_box{
    width: 80%;
    margin: auto;
}
#intro .icon{
    font-size: 7rem;
    text-align: center;
    color: var(--blue);
}

/************ Media Query ****************/
@media screen and (min-width:768px){
    .container{
        max-width: 750px;
    }
    #intro .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    #intro .card:first-child{
        width: calc((100% / 3 * 2) - 1.5rem);
    }
    #intro .card{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc((100% / 3) - 1.5rem);
        border-radius: 2rem;
        padding: 1.5rem 1.5rem 0 1.5rem;
    }
    #intro .card .img_box{
        width: 65%;
        margin: 0;
    }
}