/************ Utility ****************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: #ffffff;
    --light-blue: #B5DDFF;
    --black: #000000;
    --blue: #0084FD;
    --yellow: #FDC15F;
    --purple: #9792E4;
    --dark-gray: #333333;
}
html {
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}
.container{
    max-width: 450px;
    margin: 0 auto;
}

/************ Common ****************/

.flex{
    display: flex;
}
.j_between{
    justify-content: space-between;
}
.a_it_center{
    align-items: center;
}
a:not(footer a){
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
.btn{
    padding: 0.6rem 3.5rem;
    color: var(--white);
    background-color: var(--purple);
    border-radius: 2.5rem;
    display: inline-block;
}
.btn i{
    margin-right: 0.7rem;
}
.txt_center{
    text-align: center;
}
.txt_white{
    color: var(--white);
}
.txt_purple{
    color: var(--purple);
}
.bg_white{
    background-color: var(--white);
}
.bg_purple{
    background-color: var(--purple);
}
.padd_bottom_2rem{
    padding-bottom: 2rem;
}
.margin_bottom_6rem{
    margin-bottom: 6rem;
}
section .card{
    border-radius: 3rem;
    margin-bottom: 2.5rem;
    padding: 2.5rem 1.5rem;
}
section p{
    line-height: 2rem;
}
section h2{
    font-size: 2.5rem;
}
section h3{
    font-size: 1.8rem;
    font-weight: 700;
}


/************ Header ****************/
header {
    background-color: var(--blue);
    padding: 1rem 2rem;
}
.main_menu{
    display: none;
}

/************ Section Intro ****************/
#intro .card{
    background-color: var(--light-blue);
    padding-bottom: 0;
}
#intro h3{
    color: var(--blue);
}
#intro .btn{
    background-color: var(--blue);
    font-size: 1.1rem;
}
#intro .card .img_box img{
    display: block;
}
#intro .card .img_box{
    width: 80%;
    margin: auto;
}
#intro .icon{
    font-size: 5rem;
    color: var(--blue);
}

/************ Section Planning ****************/
#planning .container{
    padding: 3rem 2rem;
}
#planning .box_right{
    padding: 2rem;
    border-radius: 2rem;
}
#planning .box_right p{
    font-style: italic;
}
#planning .box_right i{
    font-size: 1.7rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

/************ Section Testimonials ****************/
#testimonials .img_box, #about-us .img_box /*stessa immagine nella sezione about-us*/{
    height: 13rem;
    width: 13rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: auto;
}
#testimonials .img_box.im1{
    background-image: url('../img/testimonial1.jpg');
}
#testimonials .img_box.im2{
    background-image: url('../img/testimonial2.jpg');
}
#testimonials .img_box.im3{
    background-image: url('../img/testimonial3.jpg');
}
#testimonials .name {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

/************ Section Features ****************/
#features .container > h2{
    padding-top: 3rem;
}
#features .card h2, #about-us h2 /*titolo della sezione about-us con le stesse dimensioni*/{
    font-size: 4rem;
}

/************ Section About Us ****************/
#about-us .description p{
    font-size: 1.3rem;
    line-height: 2.8rem;
}
#about-us .img_box{
    background-image: url('../img/about.jpg');
    position: relative;
    margin: 0 0 2rem 0;
}
#about-us .img_box i{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 4rem;
}
#about-us .badge p{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
}

/************ Section Get Strated ****************/
#get-started{
    padding-top: 3rem;
}
#get-started h1{
    font-size: 5rem;
    color: var(--yellow);
}
#get-started .btn{
    background-color: var(--white);
    color: var(--purple);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
#get-started .underline{
    text-decoration: underline;
}

/************ Footer ****************/
footer{
    background-color: var(--dark-gray);
    padding: 3rem 0;
}
/************ Media Query ****************/
@media screen and (min-width:768px){
    .container{
        max-width: 750px;
    }
    .flex_md{
        display: flex;
        flex-wrap: wrap;
    }
    #intro .cards{
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    #intro .card:first-child{
        width: calc((100% / 3 * 2) - 1.5rem);
    }
    #intro .card{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc((100% / 3) - 1.5rem);
        border-radius: 2rem;
        padding: 1.5rem 1.5rem 0 1.5rem;
    }
    #intro .card .img_box{
        width: 65%;
        margin: 0;
    }
    #testimonials .img_box{
        margin-right: 2rem;
    }
    #testimonials .box_md{
        width: calc(100% - 15rem);
        text-align: left;
    }
    #features .card{
        width: calc(100% / 2 - 2rem);
        margin: 1rem;
    }
    #features .cards{
        margin-left: -1rem;
        margin-right: -1rem;
    }
    #about-us .box_md{
        width: calc(60% - 4rem);
        margin-right: 4rem;
    }
    #about-us .badge{
        width: 40%;
    }
}
@media screen and (min-width: 992px){
    .container{
        max-width: 960px;
    }
    .flex_lg{
        display: flex;
    }
    #intro .card .box_lg{
        width: 55%;
    }
    #intro .card .img_box{
        width: 45%;
        margin: 0 1.5rem;
        align-self: flex-end;
    }
    #planning .box_right{
        align-self: flex-end;
        margin-left: 3rem;
    }
    #planning .box_left img{
        margin-bottom: 10rem;
        margin-top: 5rem;
    }
}